* {
    box-sizing: border-box;
}

body {
    font-weight: bold;
    text-align: center;
}

#header {
    background-color: tomato;
    padding: 20px;
}

#nav a {
    flex: 1 1 auto;
    text-decoration: none;
    margin: 20px;
    text-decoration: underline;
}

#nav {
    background: gold;
    padding: 20px;
}

#article {
    text-align: left;
    background: deepskyblue;
    padding: 20px;
    display: flex;
}

#aside {
    background-color: lightgreen;
    padding: 20px;
    display: block;
    margin: auto;
    text-align: center;
}

#footer {
    background: hotpink;
}

.hobbik {
    border-radius: 10px;
    width: 100px
}

.iskolak {
    font-style: italic;
}

@media screen and (min-width: 800px) {
    body {
        display: flex;
        flex-direction: column;
        max-width: 1500px;
        margin: auto;
    }

    #main {
        display: flex;
    }

    #nav,
    #header {
        order: -1;
    }

    #article {
        flex: 1 1 75%;
    }

    #aside {
        flex: 1 1 25%;
    }
}